/* Navigation */
.app-nav {
  background-color: #a8e6b1;
  border-bottom: 4px solid #1b3b2f;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem;
  margin: 0;
  cursor: pointer;
}

.nav-list li {
  background-color: #a8e6b1;
  transition: transform 0.2s ease;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
}

.nav-link {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #1b3b2f;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.nav-list li:hover {
  border: 1px solid #1b3b2f;
  background-color: #cce5cc;
  width: 30%;
  transform: scale(1.5);
}
